/*.node {
    height: 40px;
    width: 40px;
    position: absolute;
    border: 1px solid #1240AB;
    background: #8F9BF6;
    cursor: default;
    top: 120px;
    text-align: center;
    line-height: 40px;
    font-family: Consolas;
}*/

.selected {
    border: 1px solid #FF8900;
    background: #FF971F;
    cursor: move;
}

/*#one {
    left: 100px;
}

#two {
    left: 150px;
}

#three {
    left: 200px;
}*/

#canvas {
    border: solid black 1px;
    width: 800px;
    height: 600px;
    overflow: auto;
}

.columns {
    float: left;
}

#statusField {
    vertical-align: middle;
    /*display: table-cell;*/
}

#content {
    /*margin: 40px;*/
}
/*
.menuButton {
    background-color: white;
    border: solid black 1px;
    border-radius: 8px;

    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
}*/
/*
#linkBtn {
    background-image: url(../img/icon_link.png);
}
#cutBtn {
    background-image: url(../img/icon_cut.png);
}
#delBtn {
    background-image: url(../img/icon_delete.png);
}
#upBtn {
    background-image: url(../img/icon_up.png);
}
#canvasSizeBtn {
    background-image: url(../img/icon_big.png);
}
#gridLayoutBtn {
    background-image: url(../img/icon_grid.png);
}
*/

.divider {
    margin: 0px 5px;
    color: #999999;
}

#statusField {
    font-style: italic;
    margin-left: 15px;
}
