<!-- Front page for Dendryte -->
<!DOCTYPE HTML>
<html>
    <head>
        <title> Dendryte</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<script src="../bootstrap/js/bootstrap.min.js"></script>
        <link type="text/css" rel="stylesheet" href="../stylesheets/front.css">
    </head>
    <body>
        <div class="container-fluid">

			<!-- Top bar --> 
			<div class="row-fluid top-container">  
				<!--<h1>Dendryte</h1>-->
				<img src="img/dendrytebanner.png" alt="banner" />
			</div>
			<!-- End of top bar -->
		
			<div class="container">
				<!-- Navbar -->
				<div class = "navbar navbar-inverse">
					<div class = "navbar-inner">
						<div class="container">
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</a>
							<a class="brand" href="/">Dendryte</a>
							<div class="nav-collapse collapse">
							<ul class="nav">
								<li class="active"><a href="/"><i class="icon-home icon-white"></i>Home</a></li>
							</ul>
							<a class="btn btn-primary pull-right" href="/project">Log in</a>
							</div> <!--- End of Collapse ---->
						</div> <!-- End of Container ---->
					</div> <!-- End of Navbar-inner ---->
				</div> <!-- End of Navbar ---->

				<!-- Content -->
				
				<div class="row-fluid" style="margin-left:1em;">
					<h2>New and <em>nodeworthy</em>.</h2>
					<img src="../img/nodeworthy.png" alt="nodeworthy"/>
					<p>A dendrite is a tree-like structure in the human brain responsible for the transmission of electrochemical stimulation - in other words, thought.</p>
					<p>Our project is a thinking tool in the same vein - a lightweight and portable web app which captures ideas in the form of mind maps.</p>
					<a href="/projects" class="btn btn-primary btn-large">Get started</a>
				</div>
			</div>
        </div>
    </body>
</html>
