<!-- Front page for logged in Giftbook user -->
<!DOCTYPE HTML>
<html>
  <head>
    <title> Giftbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
  </head>
  <body>
    <div class="container-fluid"> 

      <!-- Top bar --> 
      <div class="row-fluid top-container">  
	<div class="span5">
	  <img class="logo" src="../images/logo.png">
	</div>
	<div class="span4 offset8 signin-align">
	  <span> {{ user_mail }} <a href="{{ logout }}">logout</a></span>
	</div>
      </div>
      <!-- End of top bar -->

      <!-- Main navigation -->
      <div class = "navbar">
	<div class = "navbar-inner">
	  <ul class = "nav">
	    <li> <a href="/giftbook">Home</a> </li>
	    <li> <a href="/wishlist">Wish List</a> </li>
	    <li> <a href="/search">Search</a> </li>
	  </ul>
	</div> 
      </div>

      <div class="row-fluid">
	<div class="span6">
	  <img class="giftpic" src="../images/gift.jpg">
	</div>
	<div class="span6">
	  <div class="top-pad-one">
	    <p> Don&rsquo;t know what to get for your friend? <br>
	      Receiving gifts that are wrong for you?</p>
	    
	    <p> With Giftbook, gift-giving becomes effortless!</p>
	    
	    <p> List down the gifts that you&rsquo;d like to receive.<br>
	      Check out what your friends would like as gifts from various online sources. </p>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
