<html>
    <head>
        <title>Dendryte</title>
        <script type="text/javascript" src="../scripts/lib/jquery-2.0.2.min.js"></script>
        <script type="text/javascript" src="../scripts/lib/raphael.js"></script>
        <script type="text/javascript" src="../scripts/lib/underscore-min.js"></script>

        <script type="text/javascript" src="../scripts/mindmap.js"></script>

        <link rel="stylesheet" type="text/css" href="../stylesheets/mindmap.css">
        
        <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="../bootstrap/img/font-awesome/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>
        <div class="container-fluid"> 


		<!-- Top bar --> 
		<div class="row-fluid top-container">  
			<!--<h1>Dendryte</h1>-->
			<img src="../img/dendrytebanner.png" alt="banner" />
		</div>
		<!-- End of top bar -->

		<div class="container">
			<!-- Navbar -->
			<div class = "navbar navbar-inverse">
				<div class = "navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<a class="brand" href="/">Dendryte</a>
						<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="active"><a href="/"><i class="icon-home icon-white"></i>Home</a></li>
						</ul>
						Welcome, {{ username }}. <a class="btn btn-primary pull-right" href="{{ logout }}">Log out</a>
						</div> <!--- End of Collapse ---->
					</div> <!-- End of Container ---->
				</div> <!-- End of Navbar-inner ---->
			</div> <!-- End of Navbar ---->

			<!-- Hidden fields for loading data -->
			<input type="hidden" id="loadField" value="{{ contents }}" />
			<input type="hidden" id="keyField" value="{{ key }}" />

			<!-- Main interface -->
			<a href="/projects" id="backLink">Back</a>
			<br />
			<input type="text" id="titleField" value="{{ title }}"></input>
			<br />
			<button class="btn" id="linkBtn" title="Link"><i class="icon icon-pencil"></i></button>
			<button class="btn" id="cutBtn" title="Cut"><i class="icon icon-cut"></i></button>
			<button class="btn" id="delBtn" title="Delete"><i class="icon icon-trash"></i></button>
			<button class="btn" id="upBtn" title="Up"><i class="icon icon-level-up"></i></button>
			<!-- <button class="btn" id="saveBtn">save</button> -->
			<!-- <button class="btn" id="loadBtn">load</button> -->
			<button class="btn" id="canvasSizeBtn" title="Change canvas size"><i class="icon icon-resize-full"></i></button>
			<button class="btn" id="gridLayoutBtn" title="Grid layout"><i class="icon icon-th"></i></button>
			<span id="statusField" class="label">Hello.</span>

			<div class="breadcrumb" id="breadcrumb"></div>
			<div class="columns" id="canvas"></div>
			<textarea id="titlefield" class="columns" rows="1" cols="60"></textarea>
			<!-- 3 linebreaks, ok -->
			<br />
			<br />
			<br />
			<textarea id="infopanel" class="columns" rows="26" cols="60"></textarea>
		</div>		
    </body>
</html>